/* Untuk Tablet */
@media all and (max-width: 1000px) {

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .top-wrapper {
    text-align: left;
  }

  .header-right{
    display:none;
  }

  .menu-icon {
    display: block;
  }

} 
